<form>
    <label for="first_name">First Name:</label><br>
    <input type="text" name="first_name"><br>

    <label for="middle_name"> Middle Name:</label><br>
    <input type="text" name="middle_name"><br>

    <label for="last_name"> Last Name:</label><br>
    <input type="text" name="last_name"><br>

    <input type="radio" name="gender" value="male">
    <label for="male"> Male</label><br>

    <input type="radio" name="gender" value="female">
    <label for="female"> Female</label><br>

    <p><label for="datepicker"> Date of Birth:</label>
        <input type="text" id="datepicker"></p>

    <input type="radio" name="date_of_birth" value="date_of_birth">
    <label for="male">Click to Enter Patience Date of Birth</label><br>

    <input type="radio" name="date_of_birth" value="patient_age">
    <label for="female">Click to Enter Patience Age</label><br>
</form>

