<div class="table">
    <div class="tr">
        <span class="td">Reporting date:</span>
        <span class="td"><input type="text" name="reporting_date" id="reporting_date" required/></span>
    </div>
    <div class="tr">
        <span class="td">Facility Code:</span>
        <span class="td"><input type="text" name="facility_code" id="facility_code" required/></span>
    </div>
    <div class="tr">
        <span class="td">Case ID:</span>
        <span class="td"><input type="text" class="numeric" name="case_id" id="case_id"/></span>
    </div>
    <div class="tr">
        <span class="td">Patient Record ID:</span>
        <span class="td"><input type="text" name="patient_record_id" id="patient_record_id" required/></span>
    </div>
</div>
