<h3>County of Residence:</h3>
<select name="a2_counties" id="a2_counties">
    <option name="a2_county_Bomi" value="Bomi">Bomi</option>
    <option name="a2_county_Bong" value="Bong">Bong</option>
    <option name="a2_county_Gbarpolu" value="Gbarpolu">Gbarpolu</option>
    <option name="a2_county_GrandBassa" value="Grand Bassa">Grand Bassa</option>
    <option name="a2_county_GrandCapeMount" value="Grand Cape Mount">Grand Cape Mount</option>
    <option name="a2_county_GrandGedeh" value="Grand Gedeh">Grand Gedeh</option>
    <option name="a2_county_GrandKruCounty" value="Grand Kru County">Grand Kru County</option>
    <option name="a2_county_LofaCounty" value="Lofa County">Lofa County</option>
    <option name="a2_county_MargibiCounty" value="Margibi County">Margibi County</option>
    <option name="a2_county_MarylandCounty" value="Maryland County">Maryland County</option>
    <option name="a2_county_MontserradoCounty" value="Montserrado County">Montserrado County</option>
    <option name="a2_county_NimbaCounty" value="Nimba County">Nimba County</option>
    <option name="a2_county_RiverGeeCounty" value="River Gee County">River Gee County</option>
    <option name="a2_county_RivercessCounty" value="Rivercess County">Rivercess County</option>
    <option name="a2_county_SinoeCounty" value="Sinoe County">Sinoe County</option>
</select>



<h3>County of Residence:</h3>
<select name="district" id="district">
    <option class="a2_county_Bomi" value="Dewoin District">Dewoin District</option>
    <option class="a2_county_Bomi" value="Klay District">Klay District</option>
    <option class="a2_county_Bomi" value="Mecca District">Mecca District</option>
    <option class="a2_county_Bomi" value="Senjeh District">Senjeh District</option>

    <option class="a2_county_Bong" value="Fuamah District">Fuamah District</option>
    <option class="a2_county_Bong" value="Jorquelleh District">Jorquelleh District</option>
    <option class="a2_county_Bong" value="Kokoyah District">Kokoyah District</option>
    <option class="a2_county_Bong" value="Panta-Kpa District">Panta-Kpa District</option>
    <option class="a2_county_Bong" value="Salala District">Salala District</option>
    <option class="a2_county_Bong" value="Sanayea District">Sanayea District</option>
    <option class="a2_county_Bong" value="Suakoko District">Suakoko District</option>
    <option class="a2_county_Bong" value="Zota District">Zota District</option>

    <option class="a2_county_Gbarpolu" value="Belleh District">Belleh District</option>
    <option class="a2_county_Gbarpolu" value="Bopolu District">Bopolu District</option>
    <option class="a2_county_Gbarpolu" value="Bokomu District">Bokomu District</option>
    <option class="a2_county_Gbarpolu" value="Kongba District">Kongba District</option>
    <option class="a2_county_Gbarpolu" value="Gbarma District">Gbarma District</option>

    <option class="a2_county_GrandBassa" value="District #1">District #1</option>
    <option class="a2_county_GrandBassa" value="District #2">District #2</option>
    <option class="a2_county_GrandBassa" value="District #3">District #3</option>
    <option class="a2_county_GrandBassa" value="District #4">District #4</option>
    <option class="a2_county_GrandBassa" value="Owensgrove District">Owensgrove District</option>
    <option class="a2_county_GrandBassa" value="St. John River District">St. John River District</option>

    <option class="a2_county_GrandCapeMount" value="Commonwealth District">Commonwealth District</option>
    <option class="a2_county_GrandCapeMount" value="Garwula District">Garwula District</option>
    <option class="a2_county_GrandCapeMount" value="Gola Konneh District">Gola Konneh District</option>
    <option class="a2_county_GrandCapeMount" value="Porkpa District">Porkpa District</option>
    <option class="a2_county_GrandCapeMount" value="Tewor District">Tewor District</option>

    <option class="a2_county_GrandGedeh" value="Gbarzon District">Gbarzon District</option>
    <option class="a2_county_GrandGedeh" value="Konobo District">Konobo District</option>
    <option class="a2_county_GrandGedeh" value="Tchien District">Tchien District</option>

    <option class="a2_county_GrandKruCounty" value="Buah District">Buah District</option>
    <option class="a2_county_GrandKruCounty" value="Lower Kru Coast District">Lower Kru Coast District</option>
    <option class="a2_county_GrandKruCounty" value="Sasstown District">Sasstown District</option>
    <option class="a2_county_GrandKruCounty" value="Upper Kru Coast District">Upper Kru Coast District</option>

    <option class="a2_county_LofaCounty" value="Foya District">Foya District</option>
    <option class="a2_county_LofaCounty" value="Kolahun District">Kolahun District</option>
    <option class="a2_county_LofaCounty" value="Salayea District">Salayea District</option>
    <option class="a2_county_LofaCounty" value="Vahun District">Vahun District</option>
    <option class="a2_county_LofaCounty" value="Voinjama District">Voinjama District</option>
    <option class="a2_county_LofaCounty" value="Zorzor Distric">Zorzor Distric</option>

    <option class="a2_county_MargibiCounty" value="Firestone District">Firestone District</option>
    <option class="a2_county_MargibiCounty" value="Gibi District">Gibi District</option>
    <option class="a2_county_MargibiCounty" value="Kakata District">Kakata District</option>
    <option class="a2_county_MargibiCounty" value="Mambah-Kaba District">Mambah-Kaba District</option>

    <option class="a2_county_MarylandCounty" value="Barrobo District">Barrobo District</option>
    <option class="a2_county_MarylandCounty" value="Pleebo/Sodeken District">Pleebo/Sodeken District</option>

    <option class="a2_county_MontserradoCounty" value="Careysburg District">Careysburg District</option>
    <option class="a2_county_MontserradoCounty" value="Greater Monrovia District">Greater Monrovia District</option>
    <option class="a2_county_MontserradoCounty" value="Commonwealth District">Commonwealth District</option>
    <option class="a2_county_MontserradoCounty" value="St. Paul River District">St. Paul River District</option>
    <option class="a2_county_MontserradoCounty" value="Todee District">Todee District</option>

    <option class="a2_county_NimbaCounty" value="Gbehlageh District">Gbehlageh District</option>
    <option class="a2_county_NimbaCounty" value="Saclepea District">Saclepea District</option>
    <option class="a2_county_NimbaCounty" value="Sanniquelleh-Mahn District">Sanniquelleh-Mahn District</option>
    <option class="a2_county_NimbaCounty" value="Tappita District">Tappita District</option>
    <option class="a2_county_NimbaCounty" value="Yarwein-Mehnsohnneh District">Yarwein-Mehnsohnneh District</option>
    <option class="a2_county_NimbaCounty" value="Zoegeh District">Zoegeh District</option>

    <option class="a2_county_RiverGeeCounty" value="Gbeapo District">Gbeapo District</option>
    <option class="a2_county_RiverGeeCounty" value="Webbo District">Webbo District</option>

    <option class="a2_county_RivercessCounty" value="Morweh District">Morweh District</option>
    <option class="a2_county_RivercessCounty" value="Timbo District">Timbo District</option>

    <option class="a2_county_SinoeCounty" value="Butaw District">Butaw District"</option>
    <option class="a2_county_SinoeCounty" value="Dugbe River District">Dugbe River District"</option>
    <option class="a2_county_SinoeCounty" value="Greenville District">Greenville District"</option>
    <option class="a2_county_SinoeCounty" value="Jaedae Jaedepo District">Jaedae Jaedepo District"</option>
    <option class="a2_county_SinoeCounty" value="Juarzon District">Juarzon District"</option>
    <option class="a2_county_SinoeCounty" value="Kpayan District">Kpayan District"</option>
    <option class="a2_county_SinoeCounty" value="Pyneston District"]>Pyneston District"]</option>
</select>

