
<div id="primary">
    <input type="radio" name="acute_bloody_diarrhea" id="acute_bloody_diarrhea">
    <label for="acute_bloody_diarrhea">Acute Bloody Diarrhea (Shigellosis) (AWD)</label>
    <br>
    <input type="radio" name="cholera" id="cholera">
    <label for="cholera">Cholera </label>
    <br>
    <input type="radio" name="human_rabies" id="human_rabies">
    <label for="human_rabies">Human Rabies</label>
    <br>
    <input type="radio" name="lassa_fever" id="lassa_fever">
    <label for="lassa_fever">Lassa Fever</label>
    <br>
    <input type="radio" name="measles" id="measles">
    <label for="measles">Measles</label>
</div>

<div id="primary">
    <input type="radio" name="meningitis" id="meningitis">
    <label for="meningitis">Meningitis</label>
    <br>
    <input type="radio" name="vhf" id="vhf">
    <label for="vhf">VHF (EVD)</label>
    <br>
    <input type="radio" name="yellow_fever" id="yellow_fever">
    <label for="yellow_fever">Yellow Fever</label>
    <br>
    <input type="radio" name="maternal_death" id="maternal_death">
    <label for="maternal_death">Maternal Death</label>
    <br>
    <input type="radio" name="neonatal_death" id="neonatal_death">
    <label for="neonatal_death">Neonatal Death</label>
    <br>
</div>

<div id="primary">
    <input type="radio" name="u_cluster_death" id="u_cluster_death">
    <label for="u_cluster_death">Member of Unexplained Cluster of Death</label>
    <br>
    <input type="radio" name="u_cluster_disease" id="u_cluster_disease">
    <label for="u_cluster_disease">Member of Unexplained Cluster of Disease</label>
    <br>
    <input type="radio" name="other" id="other">
    <label for="other">other</label>
    <input type="text" name="other" id="other_disease">
</div>


