<div id="B1">
    <div class="primary_disease">
        <input type="radio" name="lib_idsr_disease" id="cholera" class="idsr_disease">
        <label for="cholera">Cholera </label>
        <br>
        <input type="radio" name="lib_idsr_disease" id="human_rabies" class="idsr_disease">
        <label for="human_rabies">Human Rabies</label>
        <br>
        <input type="radio" name="lib_idsr_disease" id="lassa_fever" class="idsr_disease">
        <label for="lassa_fever">Lassa Fever</label>
        <br>
        <input type="radio" name="lib_idsr_disease" id="measles" class="idsr_disease">
        <label for="measles">Measles</label>
        <br>
        <input type="radio" name="lib_idsr_disease" id="meningitis" class="idsr_disease">
        <label for="meningitis">Meningitis</label>
        <br>
    </div>
    <div class="primary_disease">
        <input type="radio" name="lib_idsr_disease" id="vhf" class="idsr_disease">
        <label for="vhf">VHF (EVD)</label>
        <br>
        <input type="radio" name="lib_idsr_disease" id="yellow_fever" class="idsr_disease">
        <label for="yellow_fever">Yellow Fever</label>
        <br>
        <input type="radio" name="lib_idsr_disease" id="maternal_death" class="idsr_disease">
        <label for="maternal_death">Maternal Death</label>
        <br>
        <input type="radio" name="lib_idsr_disease" id="neonatal_death" class="idsr_disease">
        <label for="neonatal_death">Neonatal Death</label>
        <label for=" "> </label>
    </div>
    <div class="primary_disease1">
        <input type="radio" name="lib_idsr_disease" id="acute_bloody_diarrhea" class="idsr_disease">
        <label for="acute_bloody_diarrhea">Acute Bloody Diarrhea (Shigellosis)
            (AWD)</label>
        <br>
        <input type="radio" name="lib_idsr_disease" id="u_cluster_death" class="idsr_disease">
        <label for="u_cluster_death">Member of Unexplained Cluster of
            Death</label>
        <br>
        <input type="radio" name="lib_idsr_disease" id="u_cluster_disease" class="idsr_disease">
        <label for="u_cluster_disease">Member of Unexplained Cluster of
            Disease</label>
        <br>
        <input type="radio" name="lib_idsr_disease" id="other" class="not_idsr">
        <label for="other">other</label>
        <br>
        <input type="text" name="lib_idsr_disease_other" id="other_disease" size="60"">
    </div>
</div>
