<!doctype html>
<head>
    <title>IDSR Input</title>

    <!-- JQuery and JQueryUI -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }} "></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jqueryui/jquery-ui.min.js') }} "></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jqueryui/jquery-ui.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jqueryui/jquery-ui.structure.min.css') }}"/>

    <!-- JQuery-Steps things -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.steps.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.steps.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/select.js') }} "></script>

    <!-- This contains the configuration of the entire steps-form -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/idsr-minimal-steps.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/diseases_format.css') }}"/>

    <!-- JS for each section must live in thhese files, if the JS is
         inserted directly into the HTML, the steps-wizard will remove it.  -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/idsr-minimal-A1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/idsr-minimal-A2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/idsr-minimal-B1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/idsr-minimal-C1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/idsr-minimal-C2.js') }}"></script>

</head>

<body>

<div id="application">

    <h1>Section A</h1>
    <section>
        {% include "A/index.html" %}
    </section>

    <h1>Section B</h1>
    <section>
        {% include "B/index.html" %}
    </section>

    <h1>Section C</h1>
    <section>
        {% include "C/index.html" %}
    </section>

</div>

</body>
